.rounded {margin: 0 10px 10px 0;}

.contact-header {font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;}

form {max-width: 600px;
    margin: 0 auto;}

.thumbnail {padding: 10%; max-width: 800px; margin: 0 auto;}
